{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-pkg",
    "prettier-plugin-imports",
    "prettier-plugin-jsdoc"
  ],
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
